{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "master",
    "next",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "feature/*",
      "channel": "${name.replace(/\\//g, '-')}",
      "prerelease": "${name.replace(/\\//g, '-')}"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "preset": "angular"
}
